/*重置element-ui的css样式 当模块化css重置不生效的时候*/


/*app.vue中 ipt样式*/

.ipt .el-input__inner {
    width: 45% !important;
}


/*登入框label文字颜色*/

.login .el-form-item__label {
    color: #fff !important;
}


/*登入输入框颜色*/

.loginContainer .el-input__inner {
    -webkit-transform: all 0.5s;
    transition: all 0.5s;
    height: 40px;
    line-height: 100%;
    overflow: hidden;
    color: #fff;
    border: 0.04761705rem solid #fff;
    background: none;
    padding-left: none;
    padding-left: 0.95238095rem;
    font-size: .76190476rem !important;
}